
body {
	padding-top: 1em;
	
	
}

.structure{
    display:grid;
    grid-template-columns: 1fr 15% 15% 15% 15% 15% 15% 1fr;
    justify-content: space-between;
    
}
/*
.header {
	padding-bottom: 1em;
	display: flex;
	align-content: space-between;
}

.header img{
	align-self: center;
}
*/

.logoTeam{
    grid-column: 2 / 4;
   
}

.login{
     grid-column: 6 / 8;
     height:50px;
}

.logoLeague {
    grid-column-start: 4;
    grid-column-end:  6;
    height:50px;
}

.logo{
     display: flex;
    margin: 0 auto;
     height:50px;
    width:94.48px;
}

.margin{
	height:1em;
}

.foto_logo{
    display: flex;
    margin: 0 auto;
    height: 100%;
}


.options {
	width: 100%;
	text-align: center;
	height: 3em;
	margin-bottom: 1em;
	overflow: scroll;
	border: black 1px  solid;
    font-size: 16px;
/*	border-radius: 20%;*/
}

.teamMenu{
	margin-bottom: 2m;
}

.space {
	margin-bottom: 1em;
	margin-top: 1em;
/*	padding-top:2em;*/
}

.button {
/*	margin:1em;*/
	justify-content: center;
	align-items:center;
	border-radius: 100%;
	margin: 1em;
	display: flex;
}

.info{
 grid-column: 3 / 7;
}

/*
.center{
	text-align:  center;
	justify-content: center;
	display: flex;
	display:block;
}
*/

.map{
	height: 20em;
	margin-top:1em;
}

.back{
	margin-bottom: 1em;
	align-content: center;
}

.hyperlink{
	text-decoration: underline;
	padding-top:1em;
}


.menu {
    grid-column: 2/8;
    display:flex;
/*    display:inline;*/
    justify-content: center;
}
